/* ==========================================================================
   Reed's' custom styles
   ========================================================================== */

/*
Color Scheme:
Black: #000000
INK: #062F4F
POSY: #813772
EMBERS: #B82601
*/

.body {
  overflow: hidden;
}

/* Jumbotron set background image*/
.banner-background {
  background-image: url(../img/England-Jumbotron.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

/* Jumbotron overlay */
.banner-overlay {
  background-color: rgba(0, 32, 100, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
