/* ==========================================================================
   Reed's' custom styles
   ========================================================================== */

/*
Color Scheme:
Black: #000000
INK: #062F4F
POSY: #813772
EMBERS: #B82601
*/

.body {
  overflow: hidden;
}


/* Navigation bar classes */
.navbar {
  background-color: #B82601;
}
.logoNavbar {
  height: 40px;
  width:50px;
}


/* Header image classes*/
.banner {
  background-color: #062F4F;
  opacity: .38;
}
.banner-fluid {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  padding: 0;
}
.intro-centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.low-centered {
  position: absolute;
  top: 55%;
  left: 20%;
}


/* Social Media Style */
ul {
  padding: 0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #0077b5;
}
.fa-linkedin:hover {
  background-color: #565695;
  color: #66fcf1;
}


/* Contact form center */
.form-center {
  padding-left: 30%;
  padding-right: 30%;
}
textarea.form-control {
  height: 200px;
}


/* Styling when screen is 600px or less */
@media screen and (max-width: 1000px){

  /* Contact form centering on media */
  .form-center {
    padding-left: 25%;
    padding-right: 25%;
  }

  /* Banner text classes */
  .intro-centered {
    font-size: 50px;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .low-centered {
    font-size: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    padding-top: 10%;
    transform: translate(-50%, -50%);
  }
}


/* Styling when screen is 600px or less */
@media screen and (max-width: 600px) {

  /* Contact form centering on media */
  .form-center {
    padding-left: 10%;
    padding-right: 10%;
  }

  /* Banner text classes */
  .intro-centered {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .low-centered {
    font-size: 20px;
    top: 60%;
  }
}