/* ==========================================================================
   Reed's custom styles for projects.html
   ========================================================================== */

/*
Color Scheme:
Black: #000000
INK: #062F4F
POSY: #813772
EMBERS: #B82601
*/
